body {
  font-family: georgia;
  letter-spacing: 1px;
  /*height: 100vh;*/
}

#col1 {
  background: #FFFFF0;
}

#col2 {
  background: #4BC1C1;
}

#dpname {
  color: #4BC1C1;
  text-align: left;
  padding-left: 20px;
  font-size: 30px;
}

#designation {
  padding: 30px 20px;
}

.headlines {
  margin: 20px 20px 18px 20px;
  padding: 5px;
  background: #4BC1C1;
  font-size: 15px;
}

#headlines_ivory {
  background: #FFFFF0;
}

.datas {
  font-size: 15px;
  margin: 5px 20px;
}

.mailid {
  font-size: 15px;
  margin: 5px 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 400px) {
  .mailid {
    font-size: 5px;
    letter-spacing: 0.1px;
  }
}

.circular--portrait {
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 5%;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--portrait img {
  width: 100%;
  height: auto;
}
